<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/custom/starter-template.css" rel="stylesheet">
  </head>

  <body>
  <!--Navigation bar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Golang</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

    {{if .Errors}}
      {{range $key, $val := .Errors}}
        <div class="alert alert-danger" role="alert">
          {{$val}}
        </div>
      {{end}}
    {{end}}

    <h1>Register</h1>

    <form method="POST">
      <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" name="frmFirstName" {{if .FirstName}}  value="{{.FirstName}}" {{end}} aria-describedby="inputFirstNameHelp" placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" name="frmLastName" {{if .LastName}}  value="{{.LastName}}" {{end}} aria-describedby="inputLastNameHelp" placeholder="Enter last name">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="frmEmail" {{if .Email}}  value="{{.Email}}" {{end}} aria-describedby="inputEmailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="frmPassword" {{if .Password}}  value="{{.Password}}" {{end}} placeholder="Password">
      </div>
      <div class="form-group">
        <label for="inputPasswordAgain">Password (Again)</label>
        <input type="password" class="form-control" id="inputPasswordAgain" name="frmPasswordAgain" {{if .PasswordAgain}}  value="{{.PasswordAgain}}" {{end}} placeholder="Password">
      </div>
     
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
